
.die {
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    max-height: 75px;
    text-align: center;
    padding: 15px 0;
    margin: 10px;
}

.btn-lg {
    height: 85px;
    width: 100%;
}

.buttons {
    max-width: 45px;
}

.buttons img:hover {
    filter: brightness(70%);
}